<div class="pl-4 pt-4 flex flex-col">
  <nav>
    <ul class="flex flex-col gap-2.5">
      <li class="flex gap-1">
        <i-lucide [img]="getIconByName('plus')"></i-lucide>
        <a [routerLink]="['contents/add']" class="hover:text-blue-500"
          >Adicionar conteúdo</a
        >
      </li>
      <li>
        <div class="flex gap-1 items-center">
          <i-lucide [img]="getIconByName('calendarClock')"></i-lucide>
          <a routerLink="/reviews/today" class="hover:text-blue-500"
            >Revisões para hoje</a
          >
          <div
            class="w-5 h-5 flex justify-center items-center text-red-600 rounded-full"
          >
            {{ reviewsToday.length }}
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-1">
          <i-lucide [img]="getIconByName('annoyed')"></i-lucide>
          <a routerLink="reviews/forget" class="hover:text-blue-500"
            >Revisões esquecidas</a
          >
          <div
            class="w-5 h-5 flex justify-center items-center text-red-600 rounded-full"
          >
            {{ forgottenReviews.length }}
          </div>
        </div>
      </li>
      <li>
        <div class="flex items-center gap-1">
          <i-lucide [img]="getIconByName('swords')"></i-lucide>
          <a routerLink="reviews/with-cards" class="hover:text-blue-500"
            >Revisões com cards</a
          >
        </div>
      </li>
    </ul>
  </nav>
</div>
