<div class="pl-4 pt-4 flex flex-col">
  <nav>
    <ul class="flex flex-col gap-2.5">
      <li class="hover:bg-gray-100 flex gap-1 w-56 p-1 rounded-2xl">
        <i-lucide [img]="getIconByName('plus')"></i-lucide>
        <a
          [routerLink]="['contents/add']"
          [routerLinkActive]="['text-blue-500']"
          >Adicionar conteúdo</a
        >
      </li>
      <li class="hover:bg-gray-100 w-56 p-1 rounded-2xl">
        <div class="flex gap-2 items-center">
          <i-lucide [img]="getIconByName('calendarClock')"></i-lucide>
          <a
            [routerLink]="['/reviews/today']"
            [routerLinkActive]="['text-blue-500']"
            >Revisões para hoje</a
          >
          <div
            class="w-5 h-5 flex justify-center items-center text-red-600 rounded-full"
          >
            {{ reviewsToday.length }}
          </div>
        </div>
      </li>
      <li class="hover:bg-gray-100 w-60 p-1 rounded-2xl">
        <div class="flex items-center gap-2">
          <i-lucide [img]="getIconByName('annoyed')"></i-lucide>
          <a
            [routerLink]="['/reviews/forget']"
            [routerLinkActive]="['text-blue-500']"
            >Revisões esquecidas</a
          >
          <div
            class="w-5 h-5 flex justify-center items-center text-red-600 rounded-full"
          >
            {{ forgottenReviews.length }}
          </div>
        </div>
      </li>
      <li class="hover:bg-gray-100 w-56 p-1 rounded-2xl">
        <div class="flex items-center gap-2">
          <i-lucide [img]="getIconByName('swords')"></i-lucide>
          <a
            [routerLink]="['/reviews/with-cards']"
            [routerLinkActive]="['text-blue-500']"
            >Revisões com cards</a
          >
        </div>
      </li>
      <li class="hover:bg-gray-100 w-56 p-1 rounded-2xl">
        <div class="flex items-center gap-2">
          <a [routerLink]="['/audio']" [routerLinkActive]="['text-blue-500']"
            >Testes gravar audio</a
          >
        </div>
      </li>
    </ul>
  </nav>
</div>
